{% extends 'plantilla.html' %}
{% load static %}

{% block contenido %}

<div class="page-inner">

    <div class="page-header">
        <h4 class="page-title">Cambiar Contraseña</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="/dashboard_docente">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li class="separator"><i class="fa fa-angle-right"></i></li>
            <li class="nav-item">Mi Perfil</li>
            <li class="separator"><i class="fa fa-angle-right"></i></li>
            <li class="nav-item">Cambiar Contraseña</li>
        </ul>
    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Actualizar contraseña</h4>
        </div>

        <div class="card-body">

            {% if messages %}
            {% for m in messages %}
            <div class="alert alert-{{ m.tags }}">{{ m }}</div>
            {% endfor %}
            {% endif %}

            <form method="POST">
                {% csrf_token %}

                <div class="row">

                    <div class="col-md-4 mb-3">
                        <label>Contraseña actual</label>
                        <input type="password" name="actual" class="form-control" required>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label>Nueva contraseña</label>
                        <input type="password" name="nueva" class="form-control" required>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label>Confirmar nueva contraseña</label>
                        <input type="password" name="confirmar" class="form-control" required>
                    </div>

                </div>

                <div class="mt-4">
                    <a href="{% url 'mi_perfil' %}" class="btn btn-secondary">Cancelar</a>
                    <button class="btn btn-primary">Guardar cambios</button>
                </div>

            </form>

        </div>
    </div>

</div>

{% endblock %}
