{% extends "plantilla.html" %}
{% block contenido %}

<div class="page-inner">

  <div class="page-header">
    <h4 class="page-title">Nueva Sucursal</h4>
    <ul class="breadcrumbs">
      <li class="nav-home"><a href="{% url 'dashboard_secretaria' %}"><i class="fa fa-home"></i></a></li>
      <li class="separator"><i class="fa fa-angle-right"></i></li>
      <li class="nav-item"><a href="{% url 'sucursales_lista' %}">Sucursales</a></li>
      <li class="separator"><i class="fa fa-angle-right"></i></li>
      <li class="nav-item">Crear</li>
    </ul>
  </div>

  <div class="card">
    <div class="card-body">
      <form method="post" id="frm_sucursal">
        {% csrf_token %}

        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" name="nombre" class="form-control" placeholder="Ej: Latacunga">
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label">Régimen</label>
            <select name="ubicacion" class="form-select">
              <option value="">Seleccione un régimen</option>
              <option value="Costa">Costa</option>
              <option value="Sierra">Sierra</option>
            </select>
          </div>


        <div class="text-end">
          <a href="{% url 'sucursales_lista' %}" class="btn btn-secondary">
            <i class="fa fa-arrow-left"></i> Cancelar
          </a>
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i> Guardar
          </button>
        </div>

      </form>
    </div>
  </div>

</div>

{% block scripts %}
<script>
$("#frm_sucursal").validate({
    rules: {
        nombre: {
            required: true,
            minlength: 3
        },
        ubicacion: {
            required: true
        }
    },
    messages: {
        nombre: {
            required: "Ingrese el nombre de la sucursal",
            minlength: "Debe tener al menos 3 caracteres"
        },
        ubicacion: {
            required: "Seleccione un régimen"
        }
    },
    errorElement: "div",
    errorClass: "text-danger mt-1"
});
</script>
{% endblock %}

{% endblock %}
