{% extends "base_publica.html" %}
{% load static %}
{% block title %}Inicio | UE Monseñor Leónidas Proaño{% endblock %}

{% block contenido %}

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto text-center">
                <h1 class="text-white">Unidad Educativa Monseñor Leónidas Proaño</h1>
            </div>
        </div>
    </div>
</section>

<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">
           <div class="col-lg-4 col-md-6 col-12">
                <div class="custom-block bg-white shadow-lg featured-card h-100">
                    <div class="d-flex align-items-start">
                        <div>
                            <h5 class="mb-2 text-center">Sistema Académico</h5>
                            <p class="mb-0" style="text-align: justify;">
                                Plataforma institucional para matrículas, control de notas,
                                promociones estudiantiles y consulta de información académica.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="custom-block bg-white shadow-lg featured-card h-100">
                    <div class="d-flex align-items-start">
                        <div>
                            <h5 class="mb-2 text-center">Oferta educativa</h5>
                            <p class="mb-0" style="text-align: justify;">
                                INTENSIVO 5 MESES <br>
                                BASICA SUPERIOR Y BACHILLERATO
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="explore-section section-padding" id="section_2">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="mb-4">Nosotros</h2>
                <p class="section-text">
                    Conoce la identidad institucional y el compromiso formativo de la
                    Unidad Educativa Monseñor Leónidas Proaño.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row g-4">

            <div class="col-lg-4 col-md-6 col-12">
                <div class="custom-block bg-white shadow-lg h-100 nosotros-card">
                    <div class="d-flex align-items-start">
                        <div>
                            <h5 class="mb-2 text-center">Misión</h5>
                            <p class="mb-0" style="text-align: justify;">
                                Formar estudiantes con principios, conocimientos y habilidades
                                que fortalezcan su desarrollo integral, promoviendo una educación
                                inclusiva y orientada al servicio de la sociedad.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="custom-block bg-white shadow-lg h-100 nosotros-card">
                    <div class="d-flex align-items-start">
                        <div>
                            <h5 class="mb-2 text-center">Visión</h5>
                            <p class="mb-0" style="text-align: justify;">
                                Ser una institución educativa reconocida por su calidad académica,
                                formación humana y compromiso con la comunidad, brindando oportunidades
                                de aprendizaje para niños, adolescentes, jóvenes y adultos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-12">
                <div class="custom-block bg-white shadow-lg h-100 nosotros-card">
                    <div class="d-flex align-items-start">
                        <div>
                            <h5 class="mb-2 text-center">Compromiso institucional</h5>
                            <p class="mb-0" style="text-align: justify;">
                                La institución ofrece una formación académica orientada al desarrollo
                                personal, social y técnico de sus estudiantes, mediante modalidades de
                                estudio adaptadas a diferentes necesidades educativas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="timeline-section section-padding" id="section_3">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white mb-5">Oferta académica</h2>
                <p class="text-white oferta-subtitulo">
                    Conoce los niveles y especialidades académicas que ofrece la institución.
                </p>
            </div>

            <div class="col-lg-10 col-12 mx-auto">
                <div class="timeline-container">
                    <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                        <div class="list-progress">
                            <div class="inner"></div>
                        </div>

                        <li>
                            <h4 class="text-white mb-3">Educación General Básica Superior</h4>
                            <p class="text-white mb-3">
                                La institución ofrece el nivel de Educación General Básica Superior
                                dirigido a estudiantes que cursan los últimos años de la educación básica.
                            </p>

                            <div class="oferta-box text-white">
                                <span>Octavo grado</span>
                                <span>Noveno grado</span>
                                <span>Décimo grado</span>
                            </div>

                            <div class="icon-holder">
                                <i class="bi-mortarboard"></i>
                            </div>
                        </li>

                        <li>
                            <h4 class="text-white mb-3">Bachillerato en Ciencias</h4>
                            <p class="text-white mb-3">
                                El bachillerato en ciencias está orientado a fortalecer la formación académica
                                de los estudiantes para continuar estudios superiores en diferentes áreas del conocimiento.
                            </p>

                            <div class="oferta-box text-white">
                                <span>Primero de bachillerato</span>
                                <span>Segundo de bachillerato</span>
                                <span>Tercer de bachillerato</span>
                            </div>

                            <div class="icon-holder">
                                <i class="bi-book"></i>
                            </div>
                        </li>

                        <li>
                            <h4 class="text-white mb-3">Bachillerato Técnico</h4>
                            <p class="text-white mb-3">
                                La institución ofrece bachillerato técnico con diferentes especialidades que
                                permiten a los estudiantes desarrollar competencias prácticas para el ámbito
                                laboral y productivo.
                            </p>

                            <div class="oferta-box text-white">
                                <span>Producción Agropecuaria Sostenible</span>
                                <span>Instalaciones eléctricas y automatización</span>
                                <span>Gestión financiera y contable</span>
                                <span>Diseño de modas</span>
                            </div>

                            <div class="icon-holder">
                                <i class="bi-tools"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="faq-section section-padding" id="section_4">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <h2 class="mb-4">Avisos institucionales</h2>
            </div>

            <div class="clearfix"></div>

            <div class="col-lg-5 col-12">
                <img src="{% static 'img/carrusel2.jpg' %}" class="img-fluid rounded" alt="Avisos">
            </div>

            <div class="col-lg-6 col-12 m-auto">
                <div class="accordion" id="accordionAvisos">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Proceso de matrículas
                            </button>
                        </h2>

                        <div id="collapseOne" class="accordion-collapse collapse show"
                             aria-labelledby="headingOne" data-bs-parent="#accordionAvisos">
                            <div class="accordion-body">
                                Secretaría informará las fechas y requisitos para el proceso de matrículas
                                del período académico vigente.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Entrega de reportes académicos
                            </button>
                        </h2>

                        <div id="collapseTwo" class="accordion-collapse collapse"
                             aria-labelledby="headingTwo" data-bs-parent="#accordionAvisos">
                            <div class="accordion-body">
                                Los reportes y promociones estudiantiles serán emitidos según el cronograma
                                institucional definido por la institución.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Eventos y actividades
                            </button>
                        </h2>

                        <div id="collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="headingThree" data-bs-parent="#accordionAvisos">
                            <div class="accordion-body">
                                Próximamente se publicarán actividades culturales, deportivas, académicas
                                y eventos institucionales de interés para la comunidad educativa.
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<section class="section-padding gallery-section" id="section_5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-3">Galería institucional</h2>
                <p class="section-text mb-5">
                    Espacios, actividades y momentos que reflejan el compromiso académico
                    y formativo de la Unidad Educativa Monseñor Leónidas Proaño.
                </p>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                <div class="gallery-card shadow-sm">
                    <img src="{% static 'img/carrusel1.jpg' %}" class="img-fluid gallery-img" alt="Vida institucional">
                    <div class="gallery-info">
                        <h5 class="mb-2">Vida institucional</h5>
                        <p class="mb-0" style="text-align: justify;">Actividades académicas, culturales y participación estudiantil.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                <div class="gallery-card shadow-sm">
                    <img src="{% static 'img/carrusel3.jpg' %}" class="img-fluid gallery-img" alt="Formación técnica">
                    <div class="gallery-info">
                        <h5 class="mb-2">Formación técnica</h5>
                        <p class="mb-0 " style="text-align: justify;">Espacios de aprendizaje práctico y fortalecimiento de competencias.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                <div class="gallery-card shadow-sm">
                    <img src="{% static 'img/carrusel4.jpg' %}" class="img-fluid gallery-img" alt="Preparación académica">
                    <div class="gallery-info">
                        <h5 class="mb-2">Preparación académica</h5>
                        <p class="mb-0" style="text-align: justify;">Procesos educativos para el desarrollo integral del estudiante.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="contact-section section-padding section-bg" id="section_6">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-3">Contáctanos</h2>
                <p class="section-text mb-5 text-justify">
                    Comunícate con la institución para obtener información sobre oferta académica,
                    matrículas y servicios del sistema académico institucional.
                </p>
            </div>

            <div class="col-lg-7 col-12 mb-4 mb-lg-0">
                <div class="contact-map-wrapper shadow-sm">
                    <iframe class="google-map"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d249.3315276254989!2d-78.63106176742367!3d-0.919593485079244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d4604974155553%3A0x155b8681c3bbbfe7!2sUnidad%20Educativa%20PCEI%20Monse%C3%B1or%20Leonidas%20Proa%C3%B1o!5e0!3m2!1ses!2sec!4v1773006604317!5m2!1ses!2sec"
                            width="100%" height="320" style="border:0;" allowfullscreen=""
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>

            <div class="col-lg-5 col-md-6 col-12 mb-4 mb-lg-0 ms-auto">
                <div class="contact-card h-100 text-center">
                    <h4 class="mb-3">Institución</h4>
                    <p class="mb-3">Latacunga, Cotopaxi, Ecuador</p>
                    <hr>
                    <div class="mb-2">
                        <strong>Teléfono:</strong> 0995186761
                    </div>
                    <div class="mb-2">
                        <strong>Correo:</strong> pmonsenorleonidas@gmail.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .gallery-card{
    border-radius:10px;
    overflow:hidden;
    }

    .gallery-img{
        width:100%;
        height:220px;       /* altura fija para todas */
        object-fit:cover;   /* recorta la imagen sin deformarla */
    }

    .gallery-info{
        padding:15px;
        background:#fff;
    }
    .gallery-card{
    transition:0.3s;
    }

    .gallery-card:hover{
        transform:translateY(-5px);
        box-shadow:0 10px 25px rgba(0,0,0,0.15);
    }
</style>
{% endblock %}